# Importing Libraries

In [2]:
# Importing libraries.
import pandas as pd
import numpy as np
import os

# Create Path

In [4]:
path= r'C:\users\Ali Hassan\Documents\MM-2020 Instacart Basket Analysis'

In [5]:
path

'C:\\users\\Ali Hassan\\Documents\\MM-2020 Instacart Basket Analysis'

# Importing Dataset

In [7]:
# Importing datasets.
orders_products_combined= pd.read_pickle(os.path.join(path,'data','Prepared data','orders_products_combined.pkl'))
df_prods= pd.read_csv(os.path.join(path,'Data','Prepared data','products_checked.csv'),index_col= 0)

In [8]:
# Checking size.
orders_products_combined.shape

(32434489, 10)

# Understanding the structures of dataframes

In [10]:
# Check dataframe structure.
orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [11]:
# Check the size.
orders_products_combined.shape

(32434489, 10)

In [12]:
# Check dataframe structure.
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
# Check the size.
df_prods.shape

(49672, 5)

# Merging Dataframe

In [15]:
# Merging of 'orders_products_combined' and 'df_prods'.
ords_prods_merge= orders_products_combined.merge(df_prods, on=['product_id'], indicator='Match')

In [16]:
# Check the results of merge.
ords_prods_merge

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,Match
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4,both
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,2977660,206209,13,1,12,7.0,14197,5,1,both,Tomato Paste,9,9,5.6,both
32404855,2977660,206209,13,1,12,7.0,38730,6,0,both,Brownie Crunch High Protein Bar,3,19,5.9,both
32404856,2977660,206209,13,1,12,7.0,31477,7,0,both,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32404857,2977660,206209,13,1,12,7.0,6567,8,0,both,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32404858,2977660,206209,13,1,12,7.0,22920,9,0,both,Roasted & Salted Shelled Pistachios,117,19,1.7,both

In [17]:
# Confirming results using the merge flag.
("Shape of merged dataframe:",ords_prods_merge.shape)
(ords_prods_merge['_merge'].value_counts())

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# Export data

In [38]:
# Export the merged dataframe.
ords_prods_merge.to_csv(os.path.join(path,'Data','Prepared data','ords_prods_merge.csv'),index= False)