# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import os

# Create Path

In [4]:
path= r'C:\users\Ali Hassan\Documents\MM-2020 Instacart Basket Analysis'

In [5]:
path

'C:\\users\\Ali Hassan\\Documents\\MM-2020 Instacart Basket Analysis'

# Importing Datasets

In [20]:
# Import dataframe.
df_ords= pd.read_csv(os.path.join(path,'Data','Prepared data','orders_checked.csv'),index_col=0)
df_ords_prior= pd.read_csv(os.path.join(path,'Data','Original data','orders_products_prior.csv'))

In [21]:
# Checking output.
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [22]:
# Checking output.
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
# Check the size.
df_ords.shape

(3421083, 6)

In [11]:
# Check the size.
df_ords_prior.shape

(32434489, 4)

In [34]:
# Inner merge dataframe.
df_merged_large= df_ords.merge(df_ords_prior, on=['order_id'], how= 'inner', indicator= True)

In [35]:
# Examine value counts on '_merge' column.
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [38]:
# Exporting data as pickle.
df_merged_large.to_pickle(os.path.join(path,'Data','Prepared Data','orders_products_combined.pkl'))